<div class="row">
    <div class="col-sm-12">
      <hr>
        <div class="card">
            <div class="card-header">
              Task update
            </div>
            <div class="card-body">
              <form>
                <div class="row">
                  <div class="col-sm-12 form-group"> 
                    <div>
                      <label for="name">Name:</label>
                      <input type="text" class="form-control" id="name" [(ngModel)]="selectedTask.name" name="name">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <p class="card-text">Employees working on this task.</p>
                    <ul class="list-group">
                      <li class="list-group-item" *ngFor="let employee_id of selectedTask.employees"> {{getEmployeeById(employee_id).first_name}} {{getEmployeeById(employee_id).last_name}}</li>
                      <input type="button" class="btn btn-primary" (click)="onUpdateTask()" value="update"> 
                    </ul>
                  </div>
                </div>
              </form>
            </div>
          </div>
    </div>
  </div>