<div class="row" >
  <div class="col-sm-12">
      <hr>
      <div class="card">
          <div class="card-header">
            Employee Details
          </div>
          <div class="card-body">
              <h5 class="card-title">{{selectedEmployee.first_name}} {{selectedEmployee.last_name}}</h5>
              <p class="card-text">Employee Id: {{selectedEmployee.id}}</p>            
              <p class="card-text">Department: {{getDepartmentOfEmployee(selectedEmployee).name}}</p>
              <p class="card-text">Employee tasks:</p>
              <ul class="list-group">
                    <li class="list-group-item" *ngFor="let task of selectedEmployee.tasks">{{task.name}}</li>
              </ul>
          </div>
      </div>
  </div>
</div>