<div class="row" >
  <div class="col-sm-12">

      <div class="card">
          <div class="card-header">
            task  Search
          </div>
          <div class="card-body">
              <input #searchBox id="search-box" (keyup)="search(searchBox.value)" class="form-control" />

              <ul class="list-group">
                  <li *ngFor="let task of tasks | async" class="list-group-item hover" (click)="onTasksClicked(task)">

                      {{task.name}} 

                  </li>
                </ul>
          </div>
      </div>
  </div>
</div>