<div class="row" >
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
              Departments Search
            </div>
            <div class="card-body">
                <input #searchBox id="search-box" (keyup)="search(searchBox.value)" class="form-control" />
                <ul class="list-group">
                    <li *ngFor="let department of departments | async" class="list-group-item hover" (click)="onDepartmentClicked(department)">
                        {{department.name}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
  </div>