<div class="row">
    <div class="col-sm-12">
      <hr>
        <div class="card">
            <div class="card-header">
              Department Details
            </div>
            <div class="card-body">
              <h5 class="card-title">{{selectedDepartment.name}}</h5>
              <p class="card-text">Building: {{selectedDepartment.building}}</p>
              <p class="card-text">Employees working at that department.</p>
              <ul class="list-group">
                  <li class="list-group-item" *ngFor="let employee of selectedDepartment.employees"> {{employee.first_name}} {{employee.last_name}}</li>
              </ul>
            </div>
          </div>
    </div>
  </div>